%h1=link_to 'The Discipline of Organizing', root_path

%p
  We consider chapters 1 through 6 to be ready to use in Fall 2012 courses; check back after August 10 for the
  =link_to 'syllabus', '#'
  from Bob Glushko’s course at Berkeley.
%p Chapters 7-9 should be available by the end of August and Chapter 10 by mid-September, well before you would need to use them in a fall semester course. We will continue to revise the book until the end of October, when we need to freeze content to meet our MIT Press spring 2013 publication date.
%p
  Send comments to
  =mail_to "tdo@ischool.berkeley.edu", "tdo@ischool.berkeley.edu"

%p We are developing ebook versions of these chapters, and we also invite you to send us images, videos, news items, or other content for possible incorporation in the ebooks.

#resources_container.table
  .chapters.table-cell.well
    %h2 Chapters
    %ol
      %li=link_to 'Foundations for Organizing Systems', 'assets/TDOChapter1.pdf'
      %li=link_to 'Activities in Organizing Systems', 'assets/TDOChapter2.pdf'
      %li=link_to 'Resources in Organizing Systems', 'assets/TDOChapter3.pdf'
      %li=link_to 'Resource Description and Metadata', 'assets/TDOChapter4.pdf'
      %li=link_to 'Describing Relationships and Structures', 'assets/TDOChapter5.pdf'
      %li=link_to 'Categorization:  Describing Resource Classes and Types', 'assets/TDOChapter6.pdf'
      %li Classification:  Assigning Resources to Categories
      %li The Forms of Resource Descriptions
      %li Interactions with Resources
      %li A Roadmap for Organizing Systems

  .shared_resources.table-cell.well
    %h2 Shared Resources
    %p{ :style => 'color: #666; font-style: italic;' } More lecture notes, recordings, assignments, and other content will be coming soon.

    =link_to "Overview of Discipline of Organizing (Glushko presentation May 2012)", "assets/TDO-Introduction.pdf"
    -# %ul
      -# %li
        -# Also .icon-picture, .icon-music OR .icon-headphones, .icon-film
        -# %i.icon-file
        -# =link_to 'Lecture Notes', '#'
