%h3
  =link_to "The Discipline of Organizing", book_index_path
  &mdash; Chapter #{@id}

%iframe{ :src => book_chapter_path(@id), :width => "100%", :height => "600px", :border => 0 }

%h3 Comments
=text_area :comment, @id, :rows => 5, :placeholder => "Leave a comment", :style => "width: 50%", :class => "comment_input"

.comments
  .comment
    %cite.author Elaine Svenonius said:
    %blockquote This is a great chapter with a lot of great content

  .comment
    %cite.author Bob Glushko said:
    %blockquote A second sample comment
