%h1=link_to 'The Discipline of Organizing', root_path

%h2=link_to 'UC Berkeley INFO 202 Fall 2012 Syllabus', 'http://www.ischool.berkeley.edu/i202/f12'
%h3
  Robert J. Glushko,
  =mail_to "glushko@berkeley.edu"
%h4 Version 1.1, 8 August 2012
%ul
  %li 1.1 added Keates et al to L24
%hr{:noshade => "noshade", :size => "2"}/
%h2 L1. 8/23 Orientation;  Motivating "Organizing Systems"

%h3 Required Readings
%ul
  %li
    %a{:href => "http://www.theatlantic.com/doc/194507/bush"} Bush, Vannevar – "As We May Think"
  %li
    %a{:href => "http://jubal.westnet.com/hyperdiscordia/library_of_babel.html"} Borges, Jorge Luis – "The Library of Babel
  %li Trant, Jennifer – "Emerging Convergence? Thoughts on museums, archives, libraries and professional training", Museum Management and Curatorship, 24(4): 369-387 (2009). (first 8 pages only)
  %li
    %a{:href => "http://www.isgtw.org/feature/feature-rethinking-scientific-data-management"} Boon, Miriam – "Rethinking Scientific Data Management"
  %li Homann, Ulrich; Rill, Michael; and Wimmer, Andreas – "Flexible Value Structures in Banking," Communications of the ACM, 47:5, (2004)
%h2 L2. 8/28 Foundations for Organizing Systems
%h3 Required Readings
%ul
  %li Glushko, Robert J. – "Foundations for Organizing Systems," Chapter 1 of "The Discipline of Organizing"
%h3 Assignment
%ul
  %li A1. 202 in the News
%h2 L3. 8/30  Foundations for Organizing Systems, part 2
%p
%h3 Required Readings
%ul
  %li Baron, E. Fabens, M. Schiffman and E. Wolf – "Electronic Health Records: Just around the Corner? Or over the Cliff?"
  %li
    McGrath, Sean and Murray, Fergal – "Principles of E-Government Architecture"
  %li
    Wakabayashi, Daisuke – "Japanese Farms Look to the 'Cloud'"
%h2 L4. 9/4 Activities in Organizing Systems
%p
%h3 Required Readings
%ul
  %li
    Glushko, Robert J. , Wilde, E., and Hemerly, J. – "Activities in Organizing Systems," Chapter 2 of "The Discipline of Organizing"
%h3 Assignment
%ul
  %li A2. Organizing Principles
%h2 L5. 9/6 Activities in Organizing Systems, part 2
%p
%h3 Required Readings
%ul
  %li Morville, Peter and Rosenfeld, Louis - "Information Architecture for the World Wide Web, Third Edition" (sections 5.3-5.4 - "Organization Schemes" and "Organization Structures")
  %li
    %a{:href => "http://searchuserinterfaces.com/book/sui_ch3_models_of_information_seeking.html"} Hearst, Marti – "Models of the Information Seeking Process," Chapter 3 of "Search User Interfaces"
  %li Wright, Alex – "Managing Scientific Inquiry in a Laboratory the Size of the Web"
%h2 L6. 9/11 Resources in Organizing Systems
%p
%h3 Required Readings
%ul
  %li
    Glushko, Robert J., Turner, D., McPherson, K., and Hemerly, J. – "Resources in Organizing Systems," Chapter 3 of "The Discipline of Organizing"
%h2 L7. 9/13 Resources in Organizing Systems, part 2
%p
%h3 Required Readings
%ul
  %li Kent, William – Preface and Chapter 1 "Entities" of "Data and Reality"
  %li
    %a{:href => "http://www.kcoyle.net/jal-32-4.html"} Coyle, Karen – "Identifiers: Persistent, Unique, Global"
  %li
    %a{:href => "http://www.w3.org/Provider/Style/URI.html"} Berners-Lee, Tim – "Cool URIs don't change"
  %li
    %a{:href => "http://www.nytimes.com/2011/06/26/opinion/sunday/26pubed.html"} Brisbane, Arthur – "On NYTimes.com, Now You See It, Now You Don’t"
  %li Smith, Abby – "Authenticity in Perspective," in "Authenticity in a Digital Environment",  Council on Library and Information Resources (2000).  (p. 77-84 only)
  %li
    %a{:href => "http://www.economist.com/node/13725743"} Economist, "The Connected Car"
%h2 L8. 9/18 Resource Description and Metadata
%p
%h3 Required Readings
%ul
  %li
    Glushko, Robert J., McPherson, K., Greenberg, R., and Mayernik, M. – "Resource Description and Metadata," Chapter 4 of "The Discipline of Organizing"
%h3 Assignment
%ul
  %li A3. Resource Description
%h2 L9. 9/20 Resource Description and Metadata, part 2
%p
%h3 Required Readings
%ul
  %li Kent, William – Chapter 2, "The Nature of an Information System," and Chapter 3, "Naming," of "Data and Reality"
  %li
    %a{:href => "http://www.cio.com.au/article/166533/operation_clean_data/"} Wheatley, Malcolm – "Operation Clean Data"
  %li Branting, L. Karl – "Name Matching in Law Enforcement and Counter-Terrorism"
  %li
    %a{:href => "http://www.well.com/~doctorow/metacrap.htm"} Doctorow, Cory – "Metacrap"
%h2 L10. 9/25 XML
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://people.ischool.berkeley.edu/~glushko/DocumentEngineeringBookDraft/DEBook/ch2_FINAL.pdf"} Glushko, Robert J., and McGrath, Tim – "XML Foundations," Chapter 2 of "Document Engineering"
  %li Bray, Tim – "On Language Creation"
%h3 Assignment
%ul
  %li A4. XML Editors, XML Description
%h2 L11. 9/27 Describing Multimedia Resources
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://www.getty.edu/research/publications/electronic_publications/intro_aia/harpring.pdf"} Harpring, Patricia – "The Language of Images"
  %li Naaman, Harada; Wang, Garcia-Molina; and Paepcke – "Context Data in Geo-Referenced Digital Photo Collections"
  %li
    %a{:href => "http://www.ischool.berkeley.edu/files/student_projects/jhemerly_mims_finalproject_0.pdf"} Hemerly, J. – "Making Metadata: The Case of MusicBrainz" (pages 4-9, 24-29)
%h2 L12  10/2 Describing Relationships and Structures
%p
%h3 Required Readings
%ul
  %li
    Glushko, Robert J.,  Mayernik, M., and Pepe, A.  – "Describing Relationships and Structures," Chapter 5 of "The Discipline of Organizing"
%h3 Assignment
%ul
  %li A5. Ontology
%h2 L13  10/4 Describing Relationships and Structures, part 2
%p
%h3 Required Readings
%ul
  %li Kent, William – "Relationships," Chapter 4 of "Data and Reality"
  %li Berners-Lee, Tim; Hendler, James; and Lassila, Ora – "The Semantic Web"
  %li
    %a{:href => "http://www.dlib.org/dlib/november10/byrne/11byrne.html"} Byrne, Gillian and Goddard, Lisa – "The Strongest Link: Libraries and Linked Data"
  %li
    %a{:href => "http://www.springerlink.com/content/n2516j53k5p26x76/"} Fellbaum, Christiane –  "Wordnet"
%h2 L14.  10/9 Categories: Describing Resource Classes and Types
%p
%h3 Required Readings
%ul
  %li
    Glushko, Robert J.,  Annechino, R., Hemerly, J., and Wang, L.  – "Categorization: Describing Resource Classes and Types," Chapter 6 of "The Discipline of Organizing"
%h2 L15.  10/11 Categories: Describing Resource Classes and Types, part 2
%p
%h3 Required Readings
%ul
  %li Glushko, Robert J. – "Modeling Methods and Artifacts for Crossing the Data/Document Divide"
  %li
    %a{:href => "http://groups.ischool.berkeley.edu/sylvia/docs/reports/final_report.html"} de Larios-Heiman, Lisa and Cracraft, Carolyn – "SylViA: The Syllabus Viewing Application"
  %li Rosenthal, Arnon; Seligman, Len; and Renner, Scott – "From Semantic Integration to Semantics Management"
%h2 L16 10/16  Classification:  Assigning Resources to Categories
%p
%h3 Required Readings
%ul
  %li
    Glushko, Robert J.,  Hemerly, J., Manoochehri, M., and Wang, L..  – "Classification: Assigning Resources to Categories," Chapter 7 of "The Discipline of Organizing"
%h3 Assignment
%ul
  %li A6. Faceted Classification
%h2 L17 10/18  Classification:  Assigning Resources to Categories
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://epl.scu.edu:16080/~gbowker/classification/"} Bowker, G., and Star, S. -  "Sorting Things Out:  Classification and Its Consquences," Chapter 1 (1-13)
  %li
    %a{:href => "http://arxiv.org/ftp/cs/papers/0508/0508082.pdf"} Golder, S., and Huberman, B.  – "The Structure of Collaborative Tagging Systems"
  %li Li, Jiexun, et al. – "From Fingerprint to Writeprint"
  %li
    %a{:href => "http://www.paulgraham.com/spam.html"} Graham, P. - "A Plan for Spam"
%h2 L18 10/23  Forms of Resource Description
%p
%h3 Required Readings
%ul
  %li
    Shaw, Ryan  – "The Forms of Resource Description," Chapter 8 of "The Discipline of Organizing"
%h2 EXTRA LECTURE 10/24 COURSE REVIEW
%h2 L19 10/25  Personal Information Management
%p
%h3 Required Readings
%ul
  %li
    Davies, Stephen – "Still Building the Memex"
  %li
    %a{:href => "http://interactivity.ucsd.edu/articles/Overload/published.html"} Kirsh, David – "A Few Thoughts on Cognitive Overload"
  %li
    %a{:href => "http://www.dlib.org/dlib/march08/marshall/03marshall-pt1.html"} Marshall, Catherine – "Rethinking Personal Digital Archiving, Part 1"
%h2 L20 10/30 MIDTERM
%h2
  L21 11/1 Interactions in Organizing Systems; Introduction to IR and NLP
%p
%h3 Required Readings
%ul
  %li
    Petras, V., Glushko, R., et al.  – "Interactions with Resources," Chapter 9 of "The Discipline of Organizing"
%h3 Assignment
%ul
  %li A7. Model Mapping and Interoperability
%h2 L22 11/6 Interactions in Organizing Systems, part 2
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://people.ischool.berkeley.edu/~glushko/DocumentEngineeringBookDraft/DEBook/ch6_FINAL.pdf"} Glushko, Robert J. and McGrath, Tim – "When Models Don't Match: The Interoperability Challenge," Chapter 6 of "Document Engineering"
  %li Brunnermeier, Smita, and Martin, Sheila – "Interoperability Costs in the US Automotive Supply Chain"
  %li Schwarzman, Alexander B., et al. – "XML-centric workflow offers benefits to scholarly publishers"
%h2 L23 11/8 Text Processing and Boolean Models
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://nlp.stanford.edu/IR-book/pdf/01bool.pdf"}> Manning, Christopher, et al. – "Introduction to Information Retrieval" (Ch. 1, p. 1-6 – "Boolean Retrieval"
    , and
    %a{:href => "http://nlp.stanford.edu/IR-book/pdf/02voc.pdf"} Ch. 2 – "The term vocabulary & postings lists")
  %li Michel, Jean-Baptiste, et al. – "Quantitative Analysis of Culture Using Millions of Digitized Books"
  %li Greengard, Samuel – "Life, Translated"
  %li Sarawagi, Sunita – "Information Extraction" (p. 263-281)
%h2 L24 11/13 UIs for Search and IR
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://searchuserinterfaces.com/book/sui_ch1_design.html"} Hearst, Marti – "Search User Interfaces" (Preface and Ch. 1)
  %li
    %a{:href => "http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6033063&tag=1"} Keates, S., Varker, P., and Spowart, F. - "Human-machine design considerations in advanced machine-learning systems"
%h3 Assignment
%ul
  %li A8. Evaluating Search UIs
%h2 L25 11/15 Vector Models and Dimensionality Reduction
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://nlp.stanford.edu/IR-book/pdf/06vect.pdf"} Manning, Christopher, et al. – "Introduction to Information Retrieval" (Ch. 6 – "Scoring, term weighting & the vector space model")
  %li
    %a{:href => "http://www.knowledgesearch.org/lsi/"} Yu, Clara, et al. – "Patterns in Unstructured Data" (Read from "Latent Semantic Indexing" through "Applications of LSI")
%h2 L26 11/20 Web Search and Structure-based Models
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://nlp.stanford.edu/IR-book/pdf/19web.pdf"} Manning, Christopher, et al. – "Introduction to Information Retrieval" (Ch. 19, p. 421-431 – "Web search basics")"
  %li
    %a{:href => "http://nlp.stanford.edu/IR-book/pdf/21link.pdf"} Manning, Christopher et al. – "Introduction to Information Retrieval" (Ch. 21)
    or Diaz – "Through the Google Goggles" Chapters 4 and 5
%h2 L27 11/27 Structure-based Models 2
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://nlp.stanford.edu/IR-book/pdf/10xml.pdf"} Manning, Christopher, et al. – "Introduction to Information Retrieval" (Ch. 10 – "XML retrieval")
  %li
    %a{:href => "http://www.rpbourret.com/xml/UseCases.htm"} Bourret, Ron – "Going native: Use cases for native XML databases"
%h3 Assignment
%ul
  %li A9. Text Processing Tools
%h2 L28 11/29 Mobile and Multimedia IR
%p
%h3 Required Readings
%ul
  %li
    %a{:href => "http://searchuserinterfaces.com/book/sui_ch12_emerging.html"} Hearst, Marti – "Search User Interfaces" (Ch. 12 – "Emerging Trends in Search User Interfaces")
  %li
    %a{:href => "http://www.museumsandtheweb.com/mw2008/papers/schmitz/schmitz.html"} Schmitz, Patrick and Black, Michael – "The Delphi Toolkit: Enabling Semantic Search for Museum Collections"
%h2 12/4 Alumni Day
%p
%h3 Required Readings
%ul
  %li
    TBD
%h2 12/6 COURSE REVIEW
%p
%h3 Required Readings
%ul
  %li
    Glushko, R., et al.  – "A Roadmap for Organizing Systems," Chapter 10 of "The Discipline of Organizing"
%h2 12/11 FINAL EXAM
