%section#about.about
  %h1 The Discipline of Organizing
  .about_text
    .cover
    %p This is about the book. Co-founder of Mule Design and raconteur Mike Monteiro wants to help you do your job better. From contracts to selling design, from working with clients to working with each other, this brief book is packed with knowledge you can’t afford not to know.
    %p.get_book
      =link_to "Download chapter 1 (pdf)", "#"
      =link_to "Access the book online", book_path

%section#toc.toc
  %h2 Table of Contents
  %ol
    %li Ch. 1
    %li Ch. 2
    %li Ch. 3
    %li Ch. 4

%section#authors.authors
  %h2 Authors
  .author_row
    .author
      %h3 Bob Glushko
      %p
        =image_tag "BobGlushko.gif"
        Bob Glushko is an Adjunct Full Professor at the University of California at Berkeley in the School of Information, where he has been since 2002.
        %br
        %br
        He has over thirty years of R&D, consulting, and entrepreneurial experience in information systems and service design, content management, electronic publishing, Internet commerce, and human factors in computing systems. He founded or co-founded four companies, including Veo Systems in 1997, which pioneered the use of XML for electronic business before its 1999 acquisition by Commerce One. Veo's innovations included the Common Business Library (CBL), the first native XML vocabulary for business-to-business transactions, and the Schema for Object-Oriented XML (SOX), the first object-oriented XML schema language. From 1999-2002 he headed Commerce One's XML architecture and technical standards activities and was named an "Engineering Fellow" in 2000. In 2008 he co-founded and serves as a Director for Document Engineering Services, an international consortium of expert consultants in standards for electronic business.

    .author
      %h3 Neal Stephenson
      %p
        =image_tag "neal.jpg"
        Neal Stephenson is the author of the three-volume historical epic “The Baroque Cycle” (Quicksilver, The Confusion, and The System of the World) and the novels Cryptonomicon, The Diamond Age, Snow Crash, and Zodiac. He lives in Seattle, Washington.
