%section#about.about
  %h1 The Discipline of Organizing
  .about_text
    .cover
    %p We organize things, we organize information, we organize information about things, and we organize information about information. But even though &ldquo;organizing&rdquo; is a fundamental and ubiquitous challenge, when we compare these activities their contrasts are more apparent than their commonalities. As a result different concepts and methods have evolved that are embodied in the disciplines of library science, publishing and content management, business process analysis, data science, information systems design, computer science, and other fields. These fields don’t always agree in how they approach problems of organizing, the words they use to describe what they do, and in what they seek as solutions.

    %p
      We propose to unify many perspectives about organizing with the concept of an Organizing System, defined as
      %em an intentionally arranged collection of resources and the interactions they support.
      Every Organizing System involves a collection of resources, a choice of properties or principles used to describe and arrange resources, and ways of supporting interactions with resources. By comparing and contrasting how these activities take place in different contexts and domains, we can identify patterns of organizing. We can create a discipline of organizing in a disciplined way.

    %p This work to develop the Discipline of Organizing is the collective effort of a score of professors and graduate students from several institutions, and will result in a textbook targeted for the “core” or “gateway” courses in professional schools for library science, informatics, and other related areas. This book will be published in early 2013 simultaneously as a printed book, as an ebook, and as an open content repository to support collaborative use and maintenance of the content by all of the schools using it.

    =link_to "Read more about the project.", about_path

    %p.get_book
      =link_to "View chapter 1", "#"
      =link_to "Read the book online", book_path

%section#toc.toc
  %h2 Table of Contents
  %ol
    %li Foundations for Organizing Systems
    %li The Activities in Organizing Systems
    %li Design Patterns for Organizing Systems
    %li Resources
    %li Describing Resources
    %li Describing Classes and Types
    %li Classification
    %li Describing Relationships and Structures
    %li Interoperability

%section#authors.authors
  %h2 Contributors
  .author_row
    .author
      %h3 Bob Glushko
      %p
        Robert J. Glushko is an Adjunct Full Professor in the School of Information at the University of California, Berkeley. After receiving his PhD in Cognitive Psychology at UC San Diego in 1979, he spent about ten years working in corporate R&D, about ten years as a Silicon Valley entrepreneur, and now has worked ten years as an academic. His interests and expertise include information systems and service design, content management, electronic publishing, Internet commerce, and human factors in computing systems. He founded or co-founded four companies, including Veo Systems in 1997, which pioneered the use of XML for electronic business before its acquisition by Commerce One in 1999.

    .author
      %h3 Neal Stephenson
      %p
        Neal Stephenson is the author of the three-volume historical epic “The Baroque Cycle” (Quicksilver, The Confusion, and The System of the World) and the novels Cryptonomicon, The Diamond Age, Snow Crash, and Zodiac. He lives in Seattle, Washington.
