%section#about.about
  %h1 The Discipline of Organizing
  .table
    .callout.table-cell
      .cover
        %h3{ :style =>  'color: rgba(0,0,0,.5); margin-top: 0;'} Book Cover ... Coming Soon

    .about_text.table-cell{ :style => 'width: auto;' }
      %p
        We organize things, we organize information, we organize information about things, and we organize information about information. But even though &ldquo;organizing&rdquo; is a fundamental and ubiquitous challenge, when we compare these activities their contrasts are more apparent than their commonalities. We propose to unify many perspectives about organizing with the concept of an Organizing System, defined as
        %strong an intentionally arranged collection of resources and the interactions they support.
        Every Organizing System involves a collection of resources, a choice of properties or principles used to describe and arrange resources, and ways of supporting interactions with resources. By comparing and contrasting how these activities take place in different contexts and domains, we can identify patterns of organizing. We can create a discipline of organizing in a disciplined way.
        =link_to 'Read more about the project &raquo;'.html_safe, about_path, :class => 'read_more_link'
      %p.calls_to_action
        =link_to 'Read chapter 1', 'assets/TDOChapter1.pdf', :class => 'btn btn-primary'
        =link_to 'Access the book online', book_index_path, :class => 'btn'

%section#toc.toc
  %h2 Table of Contents
  .table-cell
    %ol
      %li Foundations for Organizing Systems
      %li Activities in Organizing Systems
      %li Resources in Organizing Systems
      %li Resource Description and Metadata
      %li Describing Relationships and Structures
  .table-cell
    %ol{ :start => '6' }
      %li Categorization:  Describing Resource Classes and Types
      %li Classification:  Assigning Resources to Categories
      %li The Forms of Resource Descriptions
      %li Interactions with Resources
      %li A Roadmap for Organizing Systems

%section#authors.authors
  %h2 I School Faculty Contributors
  .faculty_contributors
    %h3 Robert J. Glushko
    %p
      =link_to 'Bob Glushko', 'http://people.ischool.berkeley.edu/~glushko/'
      is an Adjunct Full Professor at UC Berkeley's School of Information.  He conceived of and leads the Discipline of Organizing project, is the first author of many chapters, and serves as the overall technical editor.

    %h3 Vivien Petras
    %p
      =link_to 'Vivien Petras', 'http://www.ibi.hu-berlin.de/institut/personen/petras'
      is on the faculty at the Institut für Bibliotheks- und Informationswissenschaft, Humboldt-Universitat zu Berlin

    %h3 Ryan Shaw
    %p
      =link_to 'Ryan Shaw', 'http://aeshin.org/'
      is an assistant professor in the School of Information and Library Science at the University of North Carolina at Chapel Hill

  .other_contributors
    %h3 Other Contributors

    .table
      .table-cell
        %p Andrea Angquist
        %p Rachelle Annechino
        %p J. J. M. Ekaterin
        %p=link_to 'Ryan Greenberg', 'http://ryangreenberg.com'
        %p Philip Foeckler
        %p Jess Hemerly
        %p Eliot Kimber
        %p Murray Maloney
        %p Michael Manoochehri
        %p Matt Mayernik
        %p Kimra McPherson
        %p Elliot Nahman

      .table-cell
        %p Karen Nomorosa
        %p=link_to 'Alberto Pepe', 'http://albertopepe.com/'
        %p Jacob Portnoff
        %p Bryan Rea
        %p Leslie Tom
        %p Daniel Turner
        %p=link_to 'Jen Wang', 'http://dominantprimordialbeast.com/'
        %p Longhao Wang
        %p=link_to 'Erik Wilde', 'http://dret.net/netdret/'
        %p=link_to 'Anne Wootton', 'http://popuparchive.org/'
        %p=link_to 'Jeff Zych', 'http://jlzych.com'
