%section#about.about
  %h1 The Discipline of Organizing
  .table
    .callout.table-cell
      .cover
        %h3{ :style => "color: rgba(0,0,0,.5)"} Cover


    .about_text.table-cell
      %p
        We organize things, we organize information, we organize information about things, and we organize information about information. But even though &ldquo;organizing&rdquo; is a fundamental and ubiquitous challenge, when we compare these activities their contrasts are more apparent than their commonalities. We propose to unify many perspectives about organizing with the concept of an Organizing System, defined as
        %em an intentionally arranged collection of resources and the interactions they support.
        Every Organizing System involves a collection of resources, a choice of properties or principles used to describe and arrange resources, and ways of supporting interactions with resources. By comparing and contrasting how these activities take place in different contexts and domains, we can identify patterns of organizing. We can create a discipline of organizing in a disciplined way.

      %p=link_to "Read more about the project &raquo;".html_safe, about_path
      %p
        =link_to "Read chapter 1", "#", :class => "btn btn-primary"
        =link_to "Access the book online", book_path, :class => "btn"

%section#toc.toc
  %h2 Table of Contents
  %ol
    %li Foundations for Organizing Systems
    %li The Activities in Organizing Systems
    %li Design Patterns for Organizing Systems
    %li Resources
    %li Describing Resources
    %li Describing Classes and Types
    %li Classification
    %li Describing Relationships and Structures
    %li Interoperability

%section#authors.authors
  %h2 Contributors
  .author_row
    .author
      %h3 Bob Glushko
      %p
        Robert J. Glushko is an Adjunct Full Professor in the School of Information at the University of California, Berkeley. After receiving his PhD in Cognitive Psychology at UC San Diego in 1979, he spent about ten years working in corporate R&D, about ten years as a Silicon Valley entrepreneur, and now has worked ten years as an academic. His interests and expertise include information systems and service design, content management, electronic publishing, Internet commerce, and human factors in computing systems. He founded or co-founded four companies, including Veo Systems in 1997, which pioneered the use of XML for electronic business before its acquisition by Commerce One in 1999.

    .author
      %h3 Neal Stephenson
      %p
        Neal Stephenson is the author of the three-volume historical epic “The Baroque Cycle” (Quicksilver, The Confusion, and The System of the World) and the novels Cryptonomicon, The Diamond Age, Snow Crash, and Zodiac. He lives in Seattle, Washington.
