// Bootstrap variable overrides
$baseFontSize: 17px
$baseFontFamily: "Cardo", Georgia, "Times New Roman", serif
$baseLineHeight: 25px
$textColor: #342E23 // Dark gray with a tinge of brown/sepia
$headingsFontFamily: "BebasNeueRegular", Impact, Helvetica, Arial, sans-serif
$headingsFontWeight: normal
$sansFontFamily: 'Lucida Grande', Helvetica, Arial, sans-serif
$blue: #294283
$linkColor: $blue
$linkColorHover: $blue
$btnPrimaryBackground: #08c

// Custom variables
$darkerSepia: rgba(99, 79, 42, 0.4)
$black: #1F1B14 // Black with a tinge of brown/sepia
$bylineGray: #63605A // Light gray with a tinge of brown/sepia
