/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 *= require_directory .
 * Above line only grabs files in the directory, not subdirectories: http://mrdanadams.com/2011/exclude-active-admin-js-css-rails/
 * Necessary to exclude rails_admin theme CSS
 */

@import compass
@import "fonts"
@import "variables"
@import "bootstrap"

*
  +box-sizing(border-box)

body
  //background-color: #F4EEE1
  // background-image: url(http://www.mattgemmell.com/images/noise.png?1326131369)
  // Modified from this original: http://subtlepatterns.com/light-toast/
  background-image: url(sepia_toast.png)
  font-size: $baseFontSize
  line-height: $baseLineHeight
  margin: 0

#main
  min-width: 960px
  padding: 0 15%
  padding-top: 1em
  //padding-bottom: 15%
  font-family: $baseFontFamily
  color: $textColor

h1, h2, h3
  position: relative
  font-family: $headingsFontFamily
  font-weight: $headingsFontWeight
  line-height: 1.1em
  margin: 1.1em 0 .4em 0
  color: $black

// http://modularscale.com/scale/?px1=18&px2=56&ra1=1.5&ra2=0
h1
  font-size: 3.1em
  margin-top: 0
h2
  font-size: 2.25em
  // When it's at the first child of an element, get rid of its top margin
  &:nth-child(1)
    margin-top: .4em
h3
  font-size: 1.5em

// section > h2::after
//   content: ''
//   position: absolute
//   margin-left: 1em
//   width: 100%
//   height: 45%
//   border-bottom: 2px solid rgba(99, 79, 42, 1)

a
  color: $blue
  text-decoration: underline
  &:hover
    text-decoration: none
  h1 &, h3 &
    color: inherit
  .btn &, &.btn
    text-decoration: none

section
  margin-bottom: 1.5em

// Border top to separate sections from each other
.separate
  border-top: 2px solid $darkerSepia

// Holds the login, logout, and admin links in the top-right corner
.account_links_container
  text-align: right
  font-size: .8em
  a
    color: #444
    font-family: $sansFontFamily

// Bootstrap overrides
.well
  background-color: $darkerSepia
  padding: 1.5em
  & :first-child
    margin-top: 0

blockquote
  border-color: $darkerSepia
  font-style: italic

// Generic table layout
.table
  display: table
.table-row
  display: table-row
.table-cell
  display: table-cell
  width: 50% // Default width

// Generic sitewide columns
.col
  display: inline-block
  margin: 0
  padding-bottom: 1em
  padding-right: 1em
  vertical-align: top
  width: 49% // Default width

// Lists
ul, li
  list-style-position: inside
  margin: 0

// Forms
form .btn
  margin-top: 1em

footer
  margin-bottom: 1em
  margin-top: 15%
  font-size: .75em
  font-style: italic
  color: #666

.btn, button, input, select, textarea
  font-family: $sansFontFamily
  font-size: 14px
  line-height: 18px
