@import "compass/css3/hyphenation"

.tweets
  ul
    margin: 0
    li
      list-style: none
      margin-bottom: 1em
      +hyphenation // Prevent poorly formatted tweets from breaking layout
      img
        float: left
        padding-right: .5em
      .byline
        display: block

// Comments
.comment_input
  width: 50%

.comment
  .author
    font-style: italic
    font-size: .8em
