// Contains chapters and shared resources
#resources_container
  border-spacing: 1em 0
  margin-left: -1em

.chapters, .shared_resources
  width: 50%
  h2
    margin-top: 0

.chapters
  padding-right: 1em

.shared_resources ul
  list-style: none
  margin-left: .5em

// Comments
.comment_input
  width: 50%

.author
  font-style: italic
  font-size: .8em
