.callout
  width: 14em
.about_text
  padding-left: 1em
.cover
  background-color: rgba(99, 79, 42, 0.4)
  height: 17em

// Used on about page for Bob's name
.byline
  font-size: .8em
  font-style: italic
  color: #666
// On homepage
.toc
  border-top: 2px solid rgba(99, 79, 42, .4)

// Faculty advisors on home page
.authors
  border-top: 2px solid rgba(99, 79, 42, .4)
  width: 100%
  .author_row
    display: table-row
    .author
      display: table-cell
      width: 50%
      font-style: normal
      &:nth-child(1)
        padding-right: 1em
      &:nth-child(2)
        padding-left: 1em
      img
        float: left
        width: 125px
        margin-right: 1em
