// This is dumb - importing twice
@import "variables"
@import "compass"

.callout
  width: 14em
.cover
  background-color: rgba(99, 79, 42, 0.4)
  height: 17em
.about_text
  padding-left: 1em
  text-align: justify
.read_more_link
  float: right
  font-family: $sansFontFamily
  font-size: 0.8em
  letter-spacing: 1px
  text-transform: uppercase
.calls_to_action
  margin-top: 2em
  a:first-child
    margin-right: .5em

// Used on about page for Bob's name
.byline
  font-size: .8em
  font-style: italic
  color: #666
// On homepage
.toc
  border-top: 2px solid $darkerSepia

// Faculty advisors on home page
.authors
  border-top: 2px solid $darkerSepia
  width: 100%
  .faculty_contributors, .other_contributors
    display: inline-block
    width: 49%
    padding-right: 1em
    vertical-align: top
  .other_contributors
    padding-left: 1em
    padding-right: 0
    background-color: $darkerSepia
    +border-radius(4px)
    +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05))
